:root {
  --dark: #1b1b1b;
  --light: #eee;
}
body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  /* border: 1px solid grey; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  background-color: var(--dark);
  height: 90px;
}
nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-bar {
  width: 16%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a {
  color: var(--light);
  text-decoration: none;
  padding: 3%;
  font-size: 1rem;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar form input {
  font-size: 2.9rem;
  border-radius: 6px;
  background-color: var(--dark);
  outline-color: rgb(233, 231, 231, .3);
  color: var(--light);
  border: 1px solid lightgrey;
  animation: grow-right 0.616s ease-out;
}
@keyframes grow-right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.search {
  filter: invert(90%);
  width: 60px;
  margin: 12px;
}
.search:hover {
  cursor: pointer;
}
.logo {
  color: white;
  width: 33%;
  padding: 3%;
  margin: 6px;
}