:root {
  --dark: #1b1b1b;
  --med: #eeeded;
  --light: rgb(247, 247, 247);
  --tint: rgb(218, 218, 218, .3);
  --landing: #efeee9;
  --rainbow: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light);
  line-height: 1.5;
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}
img {
  border-radius: 5px;
}
.wrapper {
  margin-top: 200px;
  width: 100%;
  position: absolute;
  height: 100vh;
  overflow: scroll;
  transition: 0.3s ease-in-out;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.social:hover,
.search:hover,
button:hover,
.category:hover {
  cursor: pointer;
}
.badge {
  position: absolute;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 3px;
  font-size: 0.7rem;
  width: 15px;
  margin: 15px 0 0 15px;
  padding: 2px 1px 4px 1px;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  transition: 0.3s ease-in;
}
.badge:hover {
  border-image: var(--rainbow);
  border-image-slice: 1;
  box-shadow: 0 0 10px grey;
}
.hide {
  display: none;
}
header {
  background-color: var(--light);
  height: 200px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  z-index: 3;
  transition: 0.3s ease-in-out;
  animation: fade-in 0.6s ease-in;
}
header nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  animation: fade-in 1s ease-in;
}
.nav-bar {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  margin-right: 12%;
}
a {
  color: var(--dark);
  text-decoration: none;
  padding: 3%;
  font-size: 1.1rem;
  margin: 0 3%;
  font-family: "Raleway", sans-serif;
}
.icon {
  width: 30px;
  margin-right: 3%;
}
.search-bar {
  display: flex;
  align-items: center;
  margin: 0 3%;
}
.search-bar form {
  width: 66%;
}
.search-bar form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 3%;
  border-radius: 3px;
  background-color: var(--light);
  outline-color: var(--dark);
  border: 1px solid var(--dark);
  color: var(--dark);
  animation: grow-bar-right 0.616s ease-out;
}
@keyframes grow-bar-right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.search {
  width: 30px;
}
.logo {
  margin: 0 6px;
  height: 200px;
  width: 200px;
  transition: 0.3s ease-in-out;
}
/* Landing -=-==-=-=-=--=-=-=-==--=-=-=-= */
.landing {
  height: 100%;
  animation: fade-in 1s ease-in-out;
}
.trending {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.trending h2 {
  font-size: 2rem;
  user-select: none;
  opacity: .5;
  width: 100%;
}
.category {
  width: 33%;
  aspect-ratio: 1;
  margin: 1.5%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(60%);
}
.category:hover {
  opacity: .9;
  filter: grayscale(20%);
}
.category h3 {
  margin-bottom: 33%;
  padding: 0 3%;
  background-color: var(--tint);
  border-radius: 2px;
}
.left {
  background-image: url("../public/images/chonky_chip.png");
  background-size: 180%;
  background-position: 10%;
}
.center {
  background-image: url("../public/images/pepe_chef.jpeg");
  background-size: 182%;
}
.right {
  background-image: url("../public/images/merch.png");
  background-size: cover;
}
.intro-card {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 50%;
  box-shadow: 0 0 2px var(--dark);
  margin-top: 6%;
}
.contents {
  width: 100%;
  height: fit-content;
  display: flex;
}
.contents .text {
  width: 100%;
  padding: 6%;
  font-size: 1.3rem;
}
.intro-card img {
  width: 50%;
  object-fit: cover;
  box-shadow: 0 0 2px var(--dark);
}
.intro-card h3 {
  font-family: "Nothing You Could Do", cursive;
}
/* Shop -=-==-=-=-=--=-=-=-==--=-=-=-= */
.shop {
  height: max-content;
  margin: 0;
  padding-bottom: 9%;
  animation: fade-in 1s ease-in-out;
  font-family: "Barlow Condensed", sans-serif;
}
.shop-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.shop-items h2 {
  font-size: 2rem;
  padding: 2%;
  margin: 0 6%;
}
/* Item -=-==-=-=-=--=-=-=-==--=-=-=-= */
.item-container {
  width: 85%;
  display: flex;
  justify-content: center;
}
.item {
  width: 100%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.item img {
  height: 55%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 2px var(--dark);
}
.item img:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 0 3px grey;
}
.item .text {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.item .text h5 {
  margin: 0;
  padding: 3%;
}
.item .text p {
  margin: 0;
}

/* Modal -=-==-=-=-=--=-=-=-==--=-=-=-= */
.modal-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-blur {
  filter: blur(0);
}
.modal {
  background-color: var(--light);
  width: 66%;
  height: 66%;
  border-radius: 3px;
  z-index: 5;
  box-shadow: 0 0 2px var(--dark);
  animation: fade-in 0.3s ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.modal .icon {
  width: 50px;
  padding: 1%;
}
.modal-item-container {
  padding: 0 9% 9%;
  display: flex;
  justify-content: center;
}
.modal-item-container img {
  width: 33%;
}
.modal-item-container .text-wrapper {
  padding: 5%;
}
.modal-item-container .text h3 {
  font-size: 2rem;
}
.modal-item-container .text p {
  font-size: 1.2rem;
}
.order-button {
  width: 100%;
  text-align: right;
}
.order-button input {
  width: 30px;
  border: none;
  background-color: var(--light);
  border-bottom: 1px solid black;
  outline-color: var(--dark);
  padding: 3px 10px;
}
.order-button button {
  margin: 0 2%;
  width: 80px;
  padding: 2% 3%;
  background-color: var(--dark);
  color: var(--light);
  border: 3px solid transparent;
  transition: 0.3s ease-in;
}
.order-button button:hover {
  border-image: var(--rainbow);
  border-image-slice: 1;
  box-shadow: 0 0 10px grey;
}
.blur {
  filter: blur(3px) grayscale(1);
}
/* Bag -=-==-=-=-=--=-=-=-==--=-=-=-= */
.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
  animation: fade-in 300ms ease-in;
}
.order {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}
.columns {
  width: 90%;
  display: flex;
  padding-left: 3%;
  font-size: 0.8rem;
  color: grey;
}
.columns .name {
  width: 56%;
  padding-left: 2%;
  border-bottom: 1px solid lightgrey;
}
.columns .quantity,
.columns .total {
  width: 20%;
  border-bottom: 1px solid lightgrey;
}
.bag-item {
  display: flex;
  height: 130px;
  border-bottom: 1px solid lightgrey;
}
.bag-item .pic {
  width: 20%;
}
.bag-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bag-item .text {
  width: 23%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.bag-item .text h3,
.bag-item .text p {
  margin: 0;
}
.bag-item .qty {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 3% 0;
}
.bag-item .qty input {
  width: 45px;
  border: none;
  background-color: var(--light);
  border-bottom: 1px solid black;
  outline-color: var(--dark);
  padding: 3px 10px;
}
input[type="number"] {
  font-size: 1.2rem;
}
.bag-item .total {
  width: 20%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.actions {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  transition: 0.2s ease-in;
}
.actions .icon {
  width: 20px;
  height: 20px;
}
.actions button {
  margin: 20%;
}
.checkout {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkout .total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16%;
  width: 100%;
}
.count {
  font-size: 1.6rem;
  margin: 1.5%;
}
.checkout a {
  background-color: var(--dark);
  color: var(--light);
  padding: 12px;
  width: fit-content;
  margin-right: 17%;
  border: 2px solid transparent;
  transition: 0.3s ease-in;
}
.checkout a:hover {
  border-image: var(--rainbow);
  border-image-slice: 1;
  box-shadow: 0 0 10px grey;
}
/* About -=-==-=-=-=--=-=-=-==--=-=-=-= */
.what-is-anuenue {
  margin-top: 2%;
  margin-bottom: 6%;
  display: flex;
  animation: fade-in 300ms ease-in;
}
.what-is-anuenue img {
  width: 50%;
  object-fit: cover;
}
.what-is-anuenue .text {
  padding: 6%;
}
.what-is-anuenue .text h2 {
  font-size: 1.4rem;
}
.what-is-anuenue .text p {
  font-size: 1.1rem;
}
/* Scroll -=-==-=-=-=--=-=-=-==--=-=-=-= */
.scrolled-header {
  height: 90px;
  box-shadow: 0 0 16px lightgrey;
}
.scrolled-logo {
  width: 90px;
  height: 90px;
}
.scrolled-landing {
  margin-top: 90px;
}
/* Footer -=-==-=-=-=--=-=-=-==--=-=-=-= */
footer {
  padding-bottom: 5%;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--light);
}
.contact-wrapper a {
  background-color: var(--dark);
  color: var(--light);
  margin-top: 15%;
  margin-bottom: 5%;
  padding: 1% 2%;
  border: 2px solid transparent;
  transition: 0.3s ease-in;
}
.contact-wrapper a:hover {
  border-image: var(--rainbow);
  border-image-slice: 1;
  box-shadow: 0 0 10px grey;
}
/* Loading -=-==-=-=-=--=-=-=-==--=-=-=-= */
/* .skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 71%);
  }
  100% {
    background-color: hsl(0, 0%, 95%);
  }
} */
/* Responsive Design -=-=-=-=-=-==--=-=-==- */
@media (max-width: 1300px) {
}
@media (max-width: 820px) {
  .item-container {
    width: 100%;
  }
  .card {
    width: 80%;
  }
  .modal {
    width: 90%;
  }
  footer {
    margin-top: 10%;
  }
}
@media (max-width: 500px) {
  .wrapper {
    margin-top: 90px;
    overflow: none;
  }
  header {
    height: 90px;
    padding: 0;
  }
  .IG {
    display: none;
  }
  .nav-bar {
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
  .logo {
    width: 90px;
    height: 90px;
    margin: 0;
  }
  .trending h2 {
    display: none;
  }
  .category {
    width: 100%;
    margin: 1.5% 0;
  }
  .item-container {
    flex-direction: column;
  }
  .item {
    width: 100%;
    margin: 0;
  }
  .card {
    width: 100%;
  }
  .what-is-anuenue {
    flex-direction: column;
  }
  .what-is-anuenue img {
    width: 100%;
  }
  .modal {
    width: 100%;
    height: 70vh;
  }
  .modal-item-container {
    flex-direction: column;
  }
  .modal-item-container img {
    display: none;
  }
  .order,
  .columns {
    width: 100%;
  }
  footer {
    padding-bottom: 15%;
  }
}
@media (max-width: 400px) {
  .nav-bar {
    padding-top: 3%;
  }
  .nav-bar a {
    font-size: 0.9rem;
  }
}
